@page
@model backend.Pages.RegisterModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModel.UserName">username</label>
                    <input type="text" asp-for="RegModel.UserName" class="form-control" />
                    <span asp-validation-for="RegModel.UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModel.Email">email</label>
                    <input type="text" asp-for="RegModel.Email" class="form-control" />
                    <span asp-validation-for="RegModel.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModel.Password">password</label>
                    <input type="password" asp-for="RegModel.Password" class="form-control" />
                    <span asp-validation-for="RegModel.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegModel.ConfirmPassword">confirm password</label>
                    <input type="password" asp-for="RegModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RegModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit">register</button>
            </form>
        </div>
    </div>
</div>